.red.edgerunner.sheet {
  // max-width: 919px;
  // max-height: 840px;
  // min-height: 840px;
  // min-width: 919px;
  .sheet-content {
    height: 95%;
    display: grid;
    grid-template-columns: 25% 7% repeat(3, 1fr);
    grid-template-rows: 70% 10% 20%;
    grid-template-areas: 
      "character stat skill skill skill"
      "humanity stat skill skill skill"
      "health health combat combat combat";
    .info-block {
      grid-area: character;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20%;
      height: 70%;
      max-width: 300px;
      min-width: 200px;
      .info-unit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        label {min-width: 70px};
        input#rank {width: 30px; text-align: center;};
        textarea {height: 250px}
      }
    };
    .stat-block {
      grid-area: stat;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40px;
      height: 100%;
      // max-width: 50px;
      // min-width: 50px;
      .stat-unit {
        display: flex;
        flex-direction: column;
        input { text-align: center; font-size: 20px;};
        .resource-block {
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          input {
            width: 10px;
          }
        }
      }
    };
    .humanity-block {
      grid-area: humanity;
      display: flex;
      .resource-unit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10%;
        label {min-width: 70px};
        input {width: 30px; text-align: center;};
      }
    };
    .health-block {
      grid-area: health;
      .resource-unit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 20%;
        label {min-width: 70px};
        input {width: 30px; text-align: center;};
      }
    };
    .skill-block {
      display: flex;
      flex-direction: column;
      grid-area: skill;
      font-size: 10px;
      flex-wrap: wrap;
      height: 600px;
      .skill-unit {
        display: flex;
        width: 200px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        .name {
          width: 80%
        };
        .level {
          width: 10%;
          input {
            text-align: center;
            height: 20px;
          }
        };
        .stat {
          width: 10%;
          text-align: center
        };
        .base {
          width: 10%;
          text-align: center;
          font-size: 1.3em;
          font-weight: bold;
        }
      };
    };
    .num-input {width: 30px; text-align: center};
  }
}


