.red.item.sheet form {
  display: flex;
  flex-direction: column;
}
.red.item.sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.red.item.sheet .sheet-content .editor {
  height: 100%;
}
.window-resizable-handle {
  visibility: hidden;
}
.multiskill-button {
  height: 1.25em;
  width: 40px;
  font-size: 1.2em;
  font-weight: bold;
}
.red.edgerunner.sheet {
  max-width: 1026px;
  max-height: 917px;
  min-height: 917px;
  min-width: 1026px;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.red.edgerunner.sheet input {
  border-radius: 0;
  border: none;
  background: white;
}
.red.edgerunner.sheet input:focus {
  border: solid 2px lightcoral;
  box-shadow: none;
}
.red.edgerunner.sheet .window-content {
  background-image: none;
  background-color: white;
}
.red.edgerunner.sheet nav {
  border-bottom: solid hsl(2, 71%, 47%) 5px;
  border-top: solid hsl(2, 71%, 47%) 5px;
}
.red.edgerunner.sheet .sheet-tabs {
  line-height: 2em;
}
.red.edgerunner.sheet .sheet-tabs a {
  font-size: 1.5em;
  text-transform: uppercase;
  color: hsl(2, 71%, 47%);
}
.red.edgerunner.sheet .sheet-tabs a:hover {
  text-shadow: none;
}
.red.edgerunner.sheet .sheet-tabs a:focus {
  text-shadow: none;
}
.red.edgerunner.sheet .sheet-tabs a:active {
  text-shadow: none;
}
.red.edgerunner.sheet .sheet-tabs a.active {
  text-shadow: none;
  font-weight: bold;
}
.red.edgerunner.sheet .sheet-content {
  height: 95%;
  display: grid;
  grid-template-columns: 220px 60px repeat(3, 230px);
  grid-column-gap: 10px;
  grid-template-rows: 600px 60px 120px;
  grid-row-gap: 10px;
  grid-template-areas: "character stat skill skill skill" "humanity stat skill skill skill" "health health combat combat combat";
}
.red.edgerunner.sheet .sheet-content .info-block {
  grid-area: character;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: hsl(2, 71%, 47%);
  padding: 10px 5px 5px 5px;
}
.red.edgerunner.sheet .sheet-content .info-block .image-block {
  clip-path: polygon(10% 0, 0 10%, 0 100%, 100% 100%, 100% 0);
  background: white;
  height: 210px;
}
.red.edgerunner.sheet .sheet-content .info-block .image-block img {
  height: 210px;
  width: 210px;
  border: none;
}
.red.edgerunner.sheet .sheet-content .info-block .info-unit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 0;
  padding-right: 10px;
}
.red.edgerunner.sheet .sheet-content .info-block .info-unit label {
  min-width: 70px;
}
.red.edgerunner.sheet .sheet-content .info-block .info-unit label span {
  text-transform: capitalize;
  font-weight: bold;
  padding-left: 5px;
}
.red.edgerunner.sheet .sheet-content .info-block .info-unit input {
  text-align: end;
  font-size: 2em;
  padding-bottom: 3px;
}
.red.edgerunner.sheet .sheet-content .info-block .info-unit input #rank {
  width: 30px;
  text-align: end;
}
.red.edgerunner.sheet .sheet-content .info-block .info-unit .role-unit {
  display: flex;
  flex-direction: row;
}
.red.edgerunner.sheet .sheet-content .info-block .notes-box {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.red.edgerunner.sheet .sheet-content .info-block .notes-box p {
  padding-left: 5px;
  text-align: start;
  font-weight: bold;
  margin: 0;
}
.red.edgerunner.sheet .sheet-content .info-block .notes-box textarea {
  border: none;
  width: 213px;
  height: 215px;
}
.red.edgerunner.sheet .sheet-content .info-block .notes-box textarea:focus {
  border: none;
  box-shadow: none;
  outline: 0;
}
.red.edgerunner.sheet .sheet-content .stat-block {
  grid-area: stat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(2, 71%, 47%);
  padding-top: 10px;
  padding-bottom: 5px;
}
.red.edgerunner.sheet .sheet-content .stat-block .stat-unit {
  clip-path: polygon(30% 0, 0 30%, 0 100%, 100% 100%, 100% 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 50px;
  width: 50px;
  justify-content: space-between;
  padding-bottom: 5px;
}
.red.edgerunner.sheet .sheet-content .stat-block .stat-unit p {
  text-align: end;
  margin: 0;
  font-weight: bold;
  width: 100%;
  padding-right: 2px;
}
.red.edgerunner.sheet .sheet-content .stat-block .stat-unit input {
  text-align: center;
  font-size: 2.5em;
  border: none;
  border-radius: 0;
  width: 90%;
}
.red.edgerunner.sheet .sheet-content .stat-block .stat-unit .resource-block {
  width: 99%;
  display: flex;
  justify-content: space-between;
}
.red.edgerunner.sheet .sheet-content .stat-block .stat-unit .resource-block input {
  width: 15px;
  font-size: 2em;
}
.red.edgerunner.sheet .sheet-content .stat-block .stat-unit.clip {
  clip-path: polygon(30% 0, 0 30%, 0 100%, 41% 100%, 41% 40%, 59% 40%, 59% 100%, 100% 100%, 100% 0);
}
.red.edgerunner.sheet .sheet-content .humanity-block {
  grid-area: humanity;
  display: flex;
  background-color: hsl(2, 71%, 47%);
  padding: 10px 5px 5px 5px;
}
.red.edgerunner.sheet .sheet-content .humanity-block .resource-unit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: white;
}
.red.edgerunner.sheet .sheet-content .humanity-block .resource-unit input {
  text-align: center;
}
.red.edgerunner.sheet .sheet-content .health-block {
  grid-area: health;
  background-color: hsl(2, 71%, 47%);
  padding: 10px 5px 5px 5px;
}
.red.edgerunner.sheet .sheet-content .health-block .resource-unit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}
.red.edgerunner.sheet .sheet-content .health-block .resource-unit label {
  min-width: 70px;
}
.red.edgerunner.sheet .sheet-content .health-block .resource-unit input {
  width: 30px;
  text-align: center;
}
.red.edgerunner.sheet .sheet-content .skill-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: skill;
  font-size: 1em;
  flex-wrap: wrap;
  height: 660px;
  background-color: hsl(2, 71%, 47%);
  padding: 10px 5px 0 5px;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit {
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: solid hsl(2, 71%, 47%) 5px;
  border-right: solid hsl(2, 71%, 47%) 2px;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit .name {
  width: 80%;
  padding-left: 3px;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit .name.isEssential {
  font-weight: bold;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit .level {
  width: 10%;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit .level input {
  text-align: center;
  height: 1.5em;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit .stat {
  width: 10%;
  text-align: center;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit .base {
  width: 10%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
  padding-right: 15px;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit.header {
  background: black;
  color: white;
  height: 23px;
}
.red.edgerunner.sheet .sheet-content .skill-block .skill-unit.header span {
  padding: 0 5px;
}
.red.edgerunner.sheet .sheet-content .skill-block .skillpoints-box {
  background: white;
  width: 230px;
}
.red.edgerunner.sheet .sheet-content .num-input {
  width: 30px;
  text-align: center;
}
